@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Fira Code', monospace;
}

a {
    text-decoration: none;
}

html {
    background-color: darkslateblue;
}

body {
    padding: 20px;
}

body > div {
    max-width: 720px;
    margin: auto;
}

.title {
    margin-bottom: 36px;
    text-align: center;
    color: #ffd665;
    text-shadow: 4px 4px 0px #000;
    transition: all .25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.title:hover {
    text-shadow: 4px 4px 0px #000, 7px 7px 0px rgba(0, 0, 0, 0.2);
}

.text-box {
    background-color: rgb(43, 37, 79);
    padding: 12px;
    margin-bottom: 24px;
    border-radius: 6px;
    box-shadow: 4px 4px 0px #000;
    transition: all .25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#text {
    font-weight: 500;
    line-height: 2em;
    height: 67px;
    overflow-y: hidden;
    color: white;
}

#inputan {
    font-weight: normal;
    font-size: 14px;
    padding: 6px;
    width: 100%;
    font-weight: 600;
}

.text-input {
    display: flex;
    width: 100%;
    justify-content: center;
    box-shadow: 4px 4px 0px #000;
}

.kata {
    position: relative;
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 4px;
}

.focus {
    background-color: yellow;
    display: inline-block;
    font-size: 24px;
    color: black;
    font-weight: 700;
}

.salah {
    background-color: tomato;
    font-weight: 600;
    color: #000000B3;
}

.benar {
    background-color: greenyellow;
    font-weight: 600;
    color: #000000B3;
}

.peringatan {
    color: red;
}

#btn-reset {
    font-weight: 600;
    padding: 6px;
}

.inputan-kata-box {
    display: flex;
}

.inputan-kata-box > div {
    margin: auto;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }