@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Fira Code', monospace;
}

html {
    background-color: darkslateblue;
}

body {
    padding: 20px;
}

body > div {
    max-width: 720px;
    margin: auto;
}

.title {
    margin-bottom: 36px;
    text-align: center;
    color: orange;
}

.text-box {
    background-color: rgb(43, 37, 79);
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 6px;
}

#text {
    font-weight: 500;
    line-height: 2em;
    height: 67px;
    overflow-y: hidden;
    color: white;
}

#inputan {
    font-weight: normal;
    font-size: 14px;
    padding: 6px;
    width: 100%;
    font-weight: 600;
}

.text-input {
    display: flex;
    width: 100%;
    margin-bottom: 100px;
    justify-content: center;
}

.kata {
    position: relative;
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 4px;
}

.focus {
    background-color: yellow;
    display: inline-block;
    font-size: 24px;
    color: black;
    font-weight: 700;
}

.salah {
    background-color: tomato;
    font-weight: 600;
    color: #000000B3;
}

.benar {
    background-color: greenyellow;
    font-weight: 600;
    color: #000000B3;
}

.peringatan {
    color: red;
}

#btn-reset {
    font-weight: 600;
    padding: 6px;
}